#bgChangingContainer{
    height: 300px;
    width: 300px;
    background-color: brown;
}

#messageForSelectBox{
    width: 400px;
}

#msgContainer{
    width: 400px;
}

#title-error-message{
    color: red;
}